<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   MappIntelligenceSDK

   Created by Mihajlo Jezdic on 26.07.23.
   Copyright (c) 2023 Mapp Digital US, LLC. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
