<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>http://tracker-int-01.webtrekk.net</string>
	<key>track_ids</key>
	<real>794940687426749</real>
</dict>
</plist>
