name: Build, Test, and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: macos-latest

    steps:
      - name: Show root directory structure
        run: ls -R .
      - name: Extract version from podspec
        id: get_version
        run: |
          VERSION=$(grep -E "s.version\s*=" MappIntelligence.podspec | sed -E "s/.*= *['\"]([^'\"]+)['\"].*/\1/")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Print version
        run: echo "Version from podspec:${{ steps.get_version.outputs.version }}"
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Ruby (for CocoaPods)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Install reqired SDK
        run: |
          xcodebuild -downloadPlatform iOS -buildVersion 17.5

      - name: Test SPM package
        run: |
          xcodebuild -scheme MappIntelligenceiOS \
                     -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
                     clean build | xcbeautify

  release:
    needs: build_and_test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

