name: Build, Test, and Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Ruby (for CocoaPods)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install CocoaPods
        run: sudo gem install cocoapods

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Install reqired SDK
        run: |
          xcodebuild -downloadPlatform iOS -buildVersion 17.5

      - name: Test SPM package and Run Unit tests
        run: |
          xcodebuild -scheme MappIntelligenceiOS \
                     -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
                     clean build | xcbeautify
                     
      - name: Install reqired SDK for Unit Tests
        run: |
          sudo xcode-select -s /Applications/Xcode.app
          sudo xcodebuild -downloadPlatform iOS
          sudo xcrun simctl runtime add /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS.simruntime || true
          sudo xcrun simctl create "iPhone-15" "com.apple.CoreSimulator.SimDeviceType.iPhone-15" "com.apple.Platform.iOS"

      - name: List simulators
        run: xcrun simctl list devices

      - name: Run Unit tests
        run: |
          xcodebuild -scheme MappIntelligenceTests \
                     -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.5' \
                     clean build | xcbeautify

  release:
    needs: build_and_test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

